*{
	box-sizing: border-box;
}
html, body{
	width: 100%;
	height: 100%;
}
.hidden{
	display: none;
}
.center{
	margin: 0 auto;
}
.js-main-section{
	padding-left: 10px;
	padding-right: 10px;
}
/*.main-header{
	position: absolute;
	top:0;
	font-size: 32px;
	font-weight: bold;
	height: 100px;
	width: 100%;
	line-height: 100px;
	text-align: center;
	background-color: black;
	color: white;
	z-index: 9999;
}*/
.main-header, #js-search-form{
	height: 75px;
	line-height: 75px;
}
.main-header{
	font-size: 28px;
	color: #3e8e41;
	line-height: 75px;
}
.main-header-right{
	display: inline-block;
	vertical-align: top;
	width: 480px;
	margin: 0;
}
section{
	width: 90%;
	margin: 0 auto;
	margin-top: 190px;
}
/*.main-section{
	margin-top: 220px;
}*/
/*section{
	margin-top: 220px;
}*/
.section-nav{
	position: fixed;
	width: 100%;
	top: 0;
	height: 150px;
	/*line-height: 150px;*/
	padding-left: 5%;
    background: #000;
    z-index: 9999;
    /*opacity: 0.95;
    filter: alpha(opacity=9);*/
}
#js-search-form{

}
/*#js-search-form{
	display: inline-block;
	vertical-align: top;
	width: 480px;
	margin: 0;
}*/
/*.search-header{
	text-align: left;
	font-weight: bold;
	margin-bottom: 15px;
	border-bottom: 1px solid black;
}*/
.search-input, .search-submit{
	height: 40px;
	padding: 5px;
}
.search-input{
	background-color: white;
	font
	/*border: 1px solid black;*/
}
.search-submit{
	width: 40px;
	border-radius: 10px;
	margin-bottom: 2px;
}
.search-submit{
	font-size: 22px;
	padding: 0;
	vertical-align: middle;
	/*margin-top: -2px;*/
}
.bad-map-request{
	height: 20px;
}
#search-map{
	height: 400px;
	border: 1px solid black;
	border-bottom: none;
}
.another-div{
	position: absolute;
	right: 0;
	width: 300px;
	z-index: 9999;
}
.highest-index{
	z-index: 9999;
}
.main-map{
	position: fixed;
	top: 0;
	height: 60%;
	width: 90%;
	left: -9999px;
	z-index: 9997;
	margin: 0 5%;
	margin-top: 180px;
	/*margin-bottom: 22%;*/
	/*margin-left: 10%;
	margin-right: 10%;*/
}
.map-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 5;
    display: none;
}
.reveal-map{
	left: 0;
	display:none;
}
.marker-toggle{
	position: absolute;
	right: 0;
	width: 200px;
	height: 28px;
	margin-bottom: -36px;
	z-index: 9998;
	background-color: red;
	opacity: .9;
	border-radius: 0 0 0 15px;	
}
.marker-toggle div{
	width: 50%;
	display: inline-block;
	text-align: center;
	line-height: 14px;
	font-size: 14px;
	padding-top: 6px;
	padding-bottom: 6px;
}
.marker-toggle div:first-child{
	right: 100px;
}
.marker-toggle div label{
	color: black;
	margin-left: 2px;
	vertical-align: middle;
}
.location-description{
	text-align: center;
	min-height: 40px;
	line-height: 40px;
	margin-bottom: 20px;
	border: 1px solid black;
	border-top: none;
	background-color: white;
}

/*.js-section-nav{
	width: 90%;
	margin: 0px auto;
	margin-bottom: 40px;
}
.js-section-nav ul{
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}
.js-section-nav ul li{
	display: inline-block;
	text-align: center;
	width: 24%;
	padding: 0;
	margin: 0;
	height: 40px;
	line-height: 36px;
	border: 2px inset black;
	cursor: pointer;
}*/
.property{
	font-weight: bold;
}
.translator-header, .translator-header-clicked{
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	text-align: center;
	margin-bottom: 15px;
	cursor: pointer;
	/*padding-top: 10px;*/
	/*padding-bottom: 10px;*/
	/*vertical-align: middle;*/
}
.header-title, .header-image{
	display: inline-block;
}
.header-title{
	height: 28px;
}
/*.header-image{
	vertical-align: middle;
	padding-bottom: 5px;
	margin-left: 15px;
}*/
.place-wrapper{
	width: 100%;
	padding: 40px 10px;
	border-bottom: 1px dotted black;
}
.place-wrapper:last-child{
	border-bottom: none;
}
.top-attractions, .top-events, .gallery, .translation{
	min-height: 500px;
}
.entertainment header, #js-translation-form, .translated-section{
	margin-bottom: 40px;
}
/*.place-elements-wrapper{
	position: absolute;
	left: 20%;
}*/
.place-elements{
	width: 35%;
	/*left: 0px;*/
}
.place-elements img{
	display: block;
}
.place-stats img, .place-stats span{
	display: inline-block;
}
.left-elements{
	float: right;
	margin-right: 20px;
}
.place-elements .place-icon{
	margin-top: 2px;
	width: 25px;
	height: 25px;
	border: none;
}
.rating{
	font-size: 16px;
}
.rating span{
	margin-right: 7px;
}
/*.rating div{
	display: inline;
	margin-left: 7px;
}*/
.place-elements, .place-wrapper ul{
	display: inline-block;
	vertical-align: top;
}
.place-elements img{
	border: 1px solid black;
	/*margin: 0 auto;
	vertical-align: top;*/
}
.place-properties{
	text-align: left;
	/*left: 110px;*/
	/*width: 80%;*/
}
.entertainment header, .events header, .gallery header, .translation-header{
	text-align: center;
	font-size: 28px;
	margin-bottom: 40px;
}
.place-wrapper ul{
	word-wrap: break-word;
	padding-left: 0px;
	list-style: none;
	margin: 0;
	width: 65%;
	max-width: 450px;
	/*left: 120px;
	min-width: 334px;*/
	/*margin: 0 0 0 10px;*/
}
.no-results{
	font-size: 20px;
	text-align: center;
}
#links{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.nav-button-group{
	display: inline-block;
	float: right;
}
.options, .options li{
	cursor: pointer;
}
/* Dropdown Button */
.nav-select,  .map-button{
    background-color: #4CAF50;
    color: white;
    height: 75px;
    width: 150px;
    font-size: 22px;
    padding-top: 26px;
    padding-bottom: 26px;
    border: none;
    cursor: pointer;
    display: block;
    /*vertical-align: top;*/
}
.map-button{
	border-bottom: 1px solid black;
}
.mapOpen{
	background-color: red;
}
.nav-select{
	border-top: 1px solid black;
}

.options {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
}

.dropdown-content div:hover {background-color: #f1f1f1;}

.options:hover .dropdown-content {
    display: block;
}

.options:hover .nav-select, .map-button:hover{
    background-color: #3e8e41;
}

/*.image-wrapper{
	width: 99%;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}*/
.events ul.event-list{
	list-style: none;
}
.header-image{
	background-image: url('../images/green-plus-4.png');
	width: 28px;
	height: 28px;
	margin-left: 15px;
	margin-bottom: -4px;
}
.header-image-clicked{
	background-image: url('../images/red-minus-4.png');
}
.image-links{
	height: 66px;
	width: 66px;
	background: black;
	overflow: hidden;
	display: inline-block;
	margin-bottom: -3px;
	margin-right: .5px;
	margin-left: .5px;
}
.image-links div{
	margin-left: -20px;
	margin-right: -20px;
	background-color: black;
	display: block;
}
.image{
	display: block;
	margin: 0 auto;
    /*max-height: 66px;
	max-width: 100px;
	overflow: hidden;*/
}
.image-links div:hover{
	/*zoom: 110%;*/
    -webkit-transform: scale(1.25); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: scale(1.25);
	transform: scale(1.25);
}
/*.translator-header:after, .translator-header-clicked:after{
	margin-left: 20px;
	padding-top: 5px;
	vertical-align: text-top;
	margin-bottom: -10px;
	padding-bottom: -10px;
}
.translator-header:after{
	content: url('../images/green-plus-4.png');
}
.translator-header-clicked:after{
	content: url('../images/red-minus-3.png');
}*/
.translate-input-choice{
	padding: 2px;
	margin: 0;
	text-align: center;
	display: inline-block;
	width: 75px;
	border-radius: 50% 50% 0 0;
	border: 2px solid black;
	border-bottom: 0;
	background-color: lightgray;
}
.translate-input-choice:hover{
	background-color: darkgray;
	cursor: pointer;
}
.textarea{
	display: block;
	width: 100%;
	padding: 5px;
	margin-bottom: 5px;
}
.text-translation{
	width: 100%;
	border: 1px solid black;
	padding: 5px;
}
.buttonholder{
	text-align: center;
}
.translated-section{
	height: 0;
	overflow: hidden;
}
@media screen and (min-width: 400px){
	.search-input{
		width: 90%;
		max-width: 400px;
	}
}
@media screen and (min-width: 700px){
	/*.search-submit{
		display: block;
		width: 100px;
	}*/
}