/***************************
* Main stylings
****************************/

*{
	box-sizing: border-box;
}
html, body{
	width: 100%;
	height: 100%;
}
.hidden{
	display: none;
}
.center{
	margin: 0 auto;
}
.js-main-section{
	padding-left: 10px;
	padding-right: 10px;
}
.main-header, .form-wrapper{
	height: 75px;
	line-height: 75px;
}
.main-header{
	font-size: 28px;
	color: #3e8e41;
	line-height: 75px;
}
.main-header-right{
	display: inline-block;
	vertical-align: top;
	width: 480px;
	margin: 0;
}
section{
	width: 90%;
	margin: 0 auto;
	margin-top: 190px;
}
.section-nav{
	position: fixed;
	width: 100%;
	top: 0;
	height: 150px;
	padding-left: 5%;
    background: #000;
    z-index: 9999;
}
.search-bar{
	display: block;
}
.mobile-search-button{
	display: none;
}
.changeColor{
	border-color: #4CAF50;
}
.search-input, .search-submit{
	height: 40px;
	padding: 5px;
}
.search-input{
	background-color: white;
}
.search-submit{
	width: 40px;
	border-radius: 10px;
	margin-bottom: 2px;
}
.search-submit{
	font-size: 22px;
	padding: 0;
	vertical-align: middle;
}
.bad-map-request{
	padding: 5px;
	border-radius: 5px 5px 0 0;
	background-color: red;
}
.bad-submit{
	position: absolute;
	top: 150px;
}
.bad-drag{
	text-align: center;
}
#search-map{
	height: 100%;
	border: 1px solid black;
	border-bottom: none;
}
.another-div{
	position: absolute;
	right: 0;
	width: 300px;
	z-index: 9999;
}
.highest-index{
	z-index: 9999;
}
.mapwrapper{
	height: 90%;
	margin-top: auto;
	margin-bottom: auto;
}
.main-map{
	position: fixed;
	top: 0;
	bottom: 0;
	padding-top: 50px;
	padding-bottom: 120px;
	width: 90%;
	left: -9999px;
	z-index: 9997;
	margin: 0 5%;
	margin-top: 150px;
}
.map-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 5;
    display: none;
}
.reveal-map{
	left: 0;
	display:none;
}
.marker-toggle{
	position: absolute;
	right: 0;
	width: 200px;
	height: 28px;
	margin-bottom: -36px;
	z-index: 9998;
	background-color: red;
	opacity: .9;
	border-radius: 0 0 0 15px;	
}
.marker-toggle div{
	width: 50%;
	display: inline-block;
	text-align: center;
	line-height: 14px;
	font-size: 14px;
	padding-top: 6px;
	padding-bottom: 6px;
}
.marker-toggle div:first-child{
	right: 100px;
}
.marker-toggle div label{
	color: black;
	margin-left: 2px;
	vertical-align: middle;
}
.location-description{
	text-align: center;
	min-height: 40px;
	line-height: 20px;
	margin-bottom: 20px;
	border: 1px solid black;
	border-top: none;
	background-color: white;
	padding: 10px;
	vertical-align: middle
}
.property{
	font-weight: bold;
}
.translator-header, .translator-header-clicked{
	line-height: 50px;
	font-size: 24px;
	text-align: center;
}
.header-title, .header-image{
	display: inline-block;
}
.header-title{
	height: 28px;
}
.place-wrapper{
	width: 100%;
	padding: 40px 10px;
	border-bottom: 1px dotted black;
}
.place-wrapper:last-child{
	border-bottom: none;
}
section > header, .entertainment header, #js-translation-form, .translated-section{
	margin-bottom: 40px;
}
.place-elements{
	width: 35%;
}
.place-elements img{
	display: block;
}
.place-stats img, .place-stats span{
	display: inline-block;
}
.left-elements{
	float: right;
	margin-right: 20px;
}
.place-elements .place-icon{
	margin-top: 2px;
	width: 25px;
	height: 25px;
	border: none;
	vertical-align: middle;
	margin-bottom: 7px;
}
.place-image{
	max-width: 100px;
	max-height: 100px;
	margin: 0 auto;
	border: 1px solid black;
}
.rating{
	display: inline-block;
	font-size: 16px;
}
.rating span{
	margin-right: 2px;
}
.place-elements, .place-wrapper ul{
	display: inline-block;
	vertical-align: top;
}
.place-elements img{
	border: 1px solid black;
}
.place-properties{
	text-align: left;
}
.entertainment header, .events header, .gallery header, .translation-header{
	text-align: center;
	font-size: 28px;
	margin-bottom: 40px;
}
.place-wrapper ul{
	word-wrap: break-word;
	padding-left: 0px;
	list-style: none;
	margin: 0;
	width: 65%;
	max-width: 450px;
}
.no-results{
	font-size: 20px;
	text-align: center;
}
#links{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.nav-button-group{
	display: inline-block;
	float: right;
}
.options, .options li{
	cursor: pointer;
}
/* Dropdown Button */
.nav-select,  .map-button{
    background-color: #4CAF50;
    color: white;
    height: 75px;
    width: 150px;
    font-size: 22px;
    padding-top: 26px;
    padding-bottom: 26px;
    border: none;
    cursor: pointer;
    display: block;
}
.map-button{
	border-bottom: 1px solid black;
}
.mapOpen{
	background-color: red;
}

.options {
    position: relative;
    display: inline-block;
    border-top: 1px solid black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
}

.dropdown-content div:hover {background-color: #f1f1f1;}

.options:hover .dropdown-content {
    display: block;
}

.options:hover .nav-select, .map-button:hover{
    background-color: #3e8e41;
}
.events ul.event-list{
	list-style: none;
}
.header-image{
	background-image: url('../images/green-plus-4.png');
	width: 28px;
	height: 28px;
	margin-left: 15px;
	margin-bottom: -4px;
}
.header-image-clicked{
	background-image: url('../images/red-minus-4.png');
}
.image-links{
	height: 66px;
	width: 66px;
	background: black;
	overflow: hidden;
	display: inline-block;
	margin-bottom: -3px;
	margin-right: .5px;
	margin-left: .5px;
}
.image-links div{
	margin-left: -20px;
	margin-right: -20px;
	background-color: black;
	display: block;
}
.image{
	display: block;
	margin: 0 auto;
}
.image-links div:hover{
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
	transform: scale(1.25);
}
.translate-input-choice{
	padding: 2px;
	margin: 0;
	text-align: center;
	display: inline-block;
	width: 75px;
	border-radius: 50% 50% 0 0;
	border: 2px solid black;
	border-bottom: 0;
	background-color: lightgray;
}
.translate-input-choice:hover{
	background-color: darkgray;
	cursor: pointer;
}
.textarea{
	display: block;
	width: 100%;
	padding: 5px;
	margin-bottom: 5px;
}
.text-translation{
	width: 100%;
	border: 1px solid black;
	padding: 5px;
}
.buttonholder{
	text-align: center;
}
.translated-section{
	height: 0;
	overflow: hidden;
}
.entertainment-list li{
	margin-bottom: 10px;
}
.left-event, .right-event{
	width: 50%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}
.left-event{
	padding-right: 20px;
}
.event-list{
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: top;
	width: 70%;
}
.event-list li{
	width: 100%;
}
.description{
	border: 1px solid black;
	padding: 5px;
	margin-top: 15px;
}
.event-image{
	max-width: 128px;
	min-width: 128px;
	border: 1px solid black;
	width: 30%;
	vertical-align: top;
	float: right;
}
.event{
	width: 90%;
	margin: 0 auto;
	margin-bottom: 20px;
	padding-bottom: 40px;
	padding-top: 40px;
	border-bottom: 1px dotted black;
}
.event:last-child{
	border-bottom: none;
}
section > header, .entertainment-list li .property{
	text-decoration: underline;
}

/***************************
* Media Queries
****************************/

@media screen and (max-width: 663px){
	.search-input{
		width: 80%;
		min-width: none;
		max-width: none;
	}
	.mobile-search-button{
		width: 60px;
		height: 60px;
		display: block;
		border-radius: 10px;
		border: 2px solid #4CAF50;
		margin: 7.5px 5px 7.5px 5px;
		float: right;
		cursor: pointer;
	}
	.nav-button-group, .main-header-right{
		display: block;
	}
	.map-button, .options, .main-header, .mobile-search-button{
		display: inline-block;
	}
	.map-button, .options{
		width: 50%;
	}
	.main-header-right, .nav-button-group, .nav-select{
		width: 100%;
	}
	.section-nav{
		padding-left: 0;
	}
	.main-header{
		font-weight: bold;
		padding-left: 5px;
	}
	.map-button{
		border-bottom: 0px;
	}
	.options{
		border-top: 0px;
		margin-right: -5px;
	}
	.nav-select{
		display: inline-block;
	}
	.dropdown-content{
		width: 100%;
	}
	.form-center{
		width: 90%;
		margin: 0 auto;
	}
	.submit-left-side{
		display: inline-block;
	}
	.submit-left-side{
		width: 40px;
	}
	.form-wrapper{
		position: fixed;
		top: 75px;
		z-index: 10000;
		width: 100%;
		border-top: 2px solid #4CAF50;
		border-bottom: 2px solid #4CAF50;
		background-color: black;
		display: none;
		padding-left: 5px;
		padding-right: 5px;
		text-align: center;
	}
	.search-bar{
		display: block;
	}
	.changeColor{
		border-color: red;
	}
	.event-image, .event-list{
		display: block;
		margin: 0 auto;
		width: 90%;
	}
}
@media screen and (max-width: 690px){
	.bad-drag{
		text-align: left;
	}
}
@media screen and (max-width: 498px){
	.place-wrapper{
		padding-left: 0;
		padding-right: 0;
	}
	.place-wrapper, .entertainment, .top-attractions{
		width: 100%;
	}
	.place-wrapper ul.entertainment-list{
		padding-left: 10px;
	}
	.left-elements{
		width: 110px;
	}
	.place-stats{
		text-align: center;
	}
	.left-event{
		width: 100%;
	}
	.right-event{
		display: none;
	}
}
@media screen and (min-width: 400px){
	.search-input{
		width: 88%;
	}
}
@media screen and (max-width: 390px){
	.place-elements, .left-elements{
		width: 100%;
	}
	.place-elements, .entertainment-list{
		display: block;
	}
	.place-wrapper ul.entertainment-list{
		width: 100%;
		padding-left: 0;
	}
	.left-elements{
		margin: 0 auto;
		margin-bottom: 15px; 
	}
	.place-image, .place-stats{
	 	margin: 0 auto;
	}
}